﻿.nome {
	font-family: Calibri;
	background-color: #C0C0C0;
	clip: rect(inherit, auto, auto, auto);
	font-weight: bolder;
	float: left;
	position: fixed;
}
.nomeDir {
	font-family: Calibri;
	background-color: #C0C0C0;
	clip: rect(inherit, auto, auto, auto);
	font-weight: bolder;
	float: right;
}
